<h1>Welcome</h1>
<p>we have trains, tickets and people that will be travelling</p>


<%= link_to "I want to make a train! choo choo", trains_path %>
<%= link_to "new train", new_train_path %>
<br/>
<%= link_to "show me all reserved tickets!", tickets_path %>
<br/>
<%= link_to "list of all customers", customers_path %>
<br/>